//  ROOT
lang= en
dir= ltr
align= left
align-alt= right

//  FONTS
family-body= Intro, font-stack('Helvetica')
weight-regular= 500
weight-bold= 700
weight-black= 900
font-default= 15px
font-small= 13px
font-h1= 36px
font-h2= 1px  // Undefined
font-h3= 24px
font-h4= 21px
font-h5= 1px  // Undefined
font-h6= 1px  // Undefined

//  LOAD FILES
@import "load"