//  INTRO
@font-face
  font-family: 'Intro'
  font-weight: 500
  font-style: normal
  src:  url("../fonts/Intro/Intro-Regular-Alt.eot")
  src:  url("../fonts/Intro/Intro-Regular-Alt.eot?#iefix") format('embedded-opentype'),
        url("../fonts/Intro/Intro-Regular-Alt.woff2") format('woff2'),
        url("../fonts/Intro/Intro-Regular-Alt.woff") format('woff'),
        url("../fonts/Intro/Intro-Regular-Alt.ttf") format('truetype'),
        url("../fonts/Intro/Intro-Regular-Alt.svg#Intro-Regular-Alt") format('svg')

@font-face
  font-family: 'Intro'
  font-weight: 700
  font-style: normal
  src:  url("../fonts/Intro/Intro-Bold-Alt.eot")
  src:  url("../fonts/Intro/Intro-Bold-Alt.eot?#iefix") format('embedded-opentype'),
        url("../fonts/Intro/Intro-Bold-Alt.woff2") format('woff2'),
        url("../fonts/Intro/Intro-Bold-Alt.woff") format('woff'),
        url("../fonts/Intro/Intro-Bold-Alt.ttf") format('truetype'),
        url("../fonts/Intro/Intro-Bold-Alt.svg#Intro-Bold-Alt") format('svg')

@font-face
  font-family: 'Intro'
  font-weight: 900
  font-style: normal
  src:  url("../fonts/Intro/Intro-Black-Alt.eot")
  src:  url("../fonts/Intro/Intro-Black-Alt.eot?#iefix") format('embedded-opentype'),
        url("../fonts/Intro/Intro-Black-Alt.woff2") format('woff2'),
        url("../fonts/Intro/Intro-Black-Alt.woff") format('woff'),
        url("../fonts/Intro/Intro-Black-Alt.ttf") format('truetype'),
        url("../fonts/Intro/Intro-Black-Alt.svg#Intro-Black-Alt") format('svg')