svg(version="1.1", viewBox="0 0 52 64")
  path(d="M25.7,12.7c-5.2,0-9.8,1.6-14.8,4.3V6.2c0-3.2-2.1-5.7-5.3-5.7S0,3.1,0,6.2c0,0,0.1,26.9,0.6,34.8C1.4,54,12.9,64,26.2,64c14.2,0,25.4-11.5,25.4-25.6C51.6,24.2,39.9,12.7,25.7,12.7z M26.3,52.5c-7.8,0-14.2-6.3-14.2-14.1c0-7.8,6.3-14.1,14.2-14.1c7.8,0,14.2,6.3,14.2,14.1C40.5,46.2,34.2,52.5,26.3,52.5z")