svg(version="1.1", viewBox="0 0 48 49")
  path(d="M0,22.2C0.3,9.9,9.8,0,23.9,0C38,0,47.3,9.9,47.6,22.2c0,1.3,0,21.1,0,21.1c0,3.1-3.3,5.7-6.5,5.7c-3.2,0-6.5-2.6-6.5-5.7V23.9c0-8.5-4.2-12.3-11.1-12.3s-11.3,3.8-11.3,12.3l0.2,19.4c0,3.1-3,5.7-6.2,5.7C2.9,49,0,46.4,0,43.3C0,43.3,0,22.4,0,22.2z")