#logo
  
  .symbol
    - for (var a = 0; a < 5; a++)
      div
  
  .letters
    include svg/logo/n
    include svg/logo/u
    include svg/logo/c
    include svg/logo/u
    include svg/logo/b
    include svg/logo/u
    include svg/logo/c