baseline= 21px
translate= (baseline/3*2)
//  BASELINE GUIDE
//   7 :  (baseline/3)
//  14 :  (baseline/3*2)
//  21 :  baseline
//  28 :  baseline+(baseline/3)
//  35 :  baseline+(baseline/3*2)
//  42 :  baseline*2
//  49 :  baseline*2+(baseline/3)
//  56 :  baseline*2+(baseline/3*2)
//  63 :  baseline*3
//  70 :  baseline*3+(baseline/3)
//  77 :  baseline*3+(baseline/3*2)
//  84 :  baseline*4


//  RESPONSIVE
beta=   500px
//alpha=  320px
//beta=   500px
//gamma=  600px
//delta=  992px


//  COLORS
purple= #9f6eaf
magenta= #c657a0
pink= #f17db1
green= #7ecbb6
blue= #7ed3f7
yellow= #fff685

nuc1= rgba(248, 0, 255, .5)
nuc2= rgba(241, 90, 34, .5)
nuc3= rgba(0, 174, 239, .5)
nuc4= rgba(234, 234, 0, .5)

background= white
border-default= #eee
border-dark= #ddd

letters= #464646
text-dark= #545454
text-default= #727272
text-light= #929292

selection-bg= magenta
selection-color= white


//  TRANSITION
easing= ease
easing-luxury= cubic-bezier(0.190,1.000,0.220,1.000)
duration= .2s
duration-luxury= .5s
transition= all duration easing
luxuryTransition(x=1, delay=0, d=0)
  transition: all ((duration-luxury*x)+delay) easing-luxury unit(delay+d, 's')

step= .03
pattern= 1.16
dur= 0
for a in 1..20
  dur= (dur+step)*pattern
  define('duration'+a, unit(dur, 's'))

luxuryMixin(min, max)
  delay= 0
  for a in min..max
    delay= (delay+step)*pattern
    &:nth-child({a})
      transition: all (duration-luxury+delay) easing-luxury unit(delay, 's')


//  OUTLINE
outline-width= 1px
outline-style= dashed
outline-color= letters
outlineHidden= outline-width outline-style transparent
outline= outline-width outline-style outline-color
outlineMixin()
  &, &:hover
    outline: outlineHidden
  &:focus
    outline: outline


//  ANCHOR
anchor-underline-height= 10px
anchor-underline-bg= yellow


//  LIST
list-counter= baseline
ul-style= disc
ol-style= decimal


//  BUTTON
button-height= baseline+(baseline/3*2)
button-padding= 0 baseline
button-border= none
button-radius= button-height/2

button-family= inherit
button-font= font-default
button-weight= weight-bold

button-bg= magenta
button-color= white
button-hover-bg= yellow
button-hover-color= letters


//  INPUT
input-height= baseline+(baseline/3*2)
input-padding= 0 (baseline/3)
input-border= none
input-radius= 0

input-family= inherit
input-font= font-default
input-weight= weight-bold

input-bg= transparent
input-color= text-default
input-placeholder= text-light


//  SOCIAL
social-height= baseline*2+(baseline/3)
social-svg-height= 27px
social-gap= (baseline/3*2)

social-bg= border-default
social-color= text-default
social-hover-bg= magenta
social-hover-color= white


//  LOGO
logo-height= 55px
logo-symbol-width= 56px
logo-letters-width= 177px
logo-letters-height= 33px