//  BASELINE GUIDE
//   7 :  (baseline/3)
//  14 :  (baseline/3*2)
//  21 :  baseline
//  28 :  baseline+(baseline/3)
//  35 :  baseline+(baseline/3*2)
//  42 :  baseline*2
//  49 :  baseline*2+(baseline/3)
//  56 :  baseline*2+(baseline/3*2)
//  63 :  baseline*3
//  70 :  baseline*3+(baseline/3)
//  77 :  baseline*3+(baseline/3*2)
//  84 :  baseline*4


//  COLORS
purple= #9f6eaf
magenta= #c657a0
pink= #f17db1
green= #7ecbb6
blue= #7ed3f7
yellow= #fff685

nuc1= rgba(248, 0, 255, .5)
nuc2= rgba(241, 90, 34, .5)
nuc3= rgba(0, 174, 239, .5)
nuc4= rgba(234, 234, 0, .5)
letters= #464646

background= #fff
border-default= #eee
border-dark= #ddd

text-dark-alt= letters
text-dark= #545454
text-default= #727272
text-light= #929292


//  ROOT
baseline= 21px
translate= baseline/3*2
easing= ease
duration= .2s
easing-luxury= cubic-bezier(0.190,1.000,0.220,1.000)
duration-luxury= duration*2

selection-bg= magenta
selection-color= white