messageCase-height= baseline*2+(baseline/3)
textCase-height= baseline+(baseline/3)
statusCase-height= baseline+(baseline/3)
formCase-width= 190px
formCase-height= input-height
formCase-border= 3px
formCase-click-width= baseline+(baseline/3)
absolute()
  z-index: 1
  position: absolute
  {align}: 0
  width: 100%


//  SOON
.soon
  overflow: hidden
  height: 100%
  text-align: center
  .container
    width: 100%
    height: 100%
    > section
      absolute()


//  COPYRIGHTS
.soon .copyrights
  overflow: hidden
  bottom: (baseline - 1px)  //  For the outline
  height: baseline+2px
  small
    absolute()
    display: block
    bottom: 1px   //  For the outline
    text-transform: lowercase
.waiting.page .soon .copyrights small
  bottom: -(translate*3)


//  ROOT
.soon .root
  logo= logo-height+baseline
  messageCase= messageCase-height*2
  textCase= textCase-height + (baseline/3)
  statusCase= statusCase-height + (baseline/3*2)
  formCase= formCase-height + formCase-border + baseline
  detailsCase= social-height + (baseline/3) + baseline
  
  height: logo + messageCase + textCase + statusCase + formCase + detailsCase
  top: 50%
  transform: translateY(-50%)
.waiting.page .soon .root
  height: logo-height


//  LOGO
.soon #logo
  margin-bottom: baseline


//  MESSAGE CASE
.soon .messageCase
  position: relative
  height: messageCase-height*2
  > *
    absolute()
    overflow: hidden
    bottom: 0
    height: messageCase-height
    &.soon1
      bottom: messageCase-height
    > div
      absolute()
      bottom: -(translate*4)
      white-space: nowrap
      @media (max-width: beta - 1)
        font-size: 26px
.soon.main .messageCase .soon1,
.soon.main .messageCase .soon2,
.soon.confirmation .messageCase .confirmation,
.soon.welcome .messageCase .welcome,
.soon.unsubscribe .messageCase .unsubscribe
  z-index: 2
  > div
    bottom: 0


//  TEXT CASE
.soon .textCase
  overflow: hidden
  position: relative
  height: textCase-height
  margin-bottom: (baseline/3)
  > div
    absolute()
    bottom: -(translate*3)
    line-height: textCase-height
    white-space: nowrap
    @media (max-width: beta - 1)
      font-size: 13px
.soon.main .textCase .soon1,
.soon.confirmation .textCase .confirmation,
.soon.welcome .textCase .welcome,
.soon.unsubscribe .textCase .unsubscribe
  bottom: 0


//  STATUS CASE
.soon .statusCase
  overflow: hidden
  position: relative
  height: statusCase-height
  margin-bottom: (baseline/3*2)
  > *
    absolute()
    bottom: -(translate*3)
    line-height: statusCase-height
    white-space: nowrap
    @media (max-width: beta - 1)
      font-size: 15px
.soon.main:not(.typing) .statusCase .whoWeAre,
.soon.main.typing .statusCase .placeholder,
.soon.main.typing.enterName .statusCase .msgName
  bottom: 0
.soon.main.typing.enterName .statusCase .placeholder
  bottom: (translate*3)


//  FORM CASE
.soon .formCase
  position: relative
  width: 0
  height: formCase-height + formCase-border
  margin: 0 auto
  margin-bottom: baseline
.soon.main .formCase
  width: formCase-width

//  BEFORE & AFTER
.soon .formCase
  &:before, &:after
    absolute()
    content: ''
    display: block
    bottom: 0
    height: formCase-border
    background-color: border-dark
  &:after
    {align}: 50%
    width: 0
    background-color: white
.soon .formCase:hover:before,
.soon.typing .formCase:before,
.soon.typing .formCase:after
  {align}: -(6%/2)
  width: 106%
  background-color: magenta
.soon.typing .formCase:after
  background-color: transparent

//  GM ICON
.soon .formCase .GMIcon
  cursor: default
  display: block
  position: absolute
  top: 0
  {align}: -(24px + (baseline/3*2))
  line-height: formCase-height
  opacity: 0
.soon.main .formCase .GMIcon
  opacity: 1

//  INPUTS
.soon .formCase .inputs
  position: relative
  overflow: hidden
  height: formCase-height
  > *
    absolute()
    cursor: text
    bottom: -(translate*3)
  .placeholder
    font-size: input-font
    font-weight: input-weight
    line-height: input-height
    white-space: nowrap
    color: input-color
  input
    padding-{align-alt}: formCase-click-width+(baseline/3*2)
  #form_name
    text-transform: capitalize
.soon.main:not(.typing) .formCase .placeholder,
.soon.main.typing .formCase #form_email,
.soon.main.typing.enterName .formCase #form_name
  bottom: 0
.soon.main.typing.enterName .formCase #form_email
  bottom: formCase-height

//  CLICKS
.soon .formCase .clicks
  absolute()
  z-index: -1
  overflow: hidden
  bottom: formCase-border
  height: formCase-height
  .click
    cursor: pointer
    position: absolute
    bottom: -(translate*3)
    {align}: 0
    width: formCase-click-width
    height: 100%
    margin-{align}: 3px
    padding: 1px  //  To show the outline
    background-color: border-default
    &:after
      @extend .GMIcon
      content: 'arrow_forward'
      display: block
      position: absolute
      bottom: 0
      {align-alt}: translate*10
      width: formCase-click-width
      line-height: formCase-height
    input
      z-index: 3
      cursor: pointer
      position: relative
      padding: 0
      height: (formCase-height - 2px)   //  To show the outline
      outlineMixin()
      &#send
        display: none
.soon.main.typing .formCase .clicks .click
  bottom: 0
.soon.main.typing.filled .formCase .clicks
  z-index: 2
  {align}: 100%
  width: formCase-click-width+(baseline/3*2)
  margin-{align}: -(formCase-click-width)
  .click
    margin-{align}: 0
    &:after
      {align-alt}: -11px
    &:hover
      background-color: yellow
      &:after
        {align-alt}: -18px
        color: letters
.soon.main.typing.enterName .formCase .clicks .click input
  &#next
    display: none
  &#send
    display: block

//  DETAILS CASE
.soon .detailsCase
  .social li,
  address.mail
    transform: translateY(0)
    opacity: 1
  address.mail
    @extend .small
    margin-top: (baseline/3)
    font-style: normal
.waiting.page .detailsCase .social li,
.waiting.page .detailsCase address.mail
  transform: translateY(translate/2)
  opacity: 0


//  TRANSITIONS
.soon
  .formCase
    &:before, &:after
      luxuryTransition: 2
  
  .statusCase > *
    luxuryTransition: 2
  .formCase .inputs > *
    luxuryTransition: 2, duration3
  
  .formCase .clicks
    &, .click
      luxuryTransition: 2
    .click:after
      luxuryTransition: 2, duration2

//  TRANSITIONS PAGE DELAY
.page .soon.delay
  .copyrights small
    luxuryTransition: 3
  .root
    luxuryTransition: 3, 0, 1.5
  
  .messageCase > * > div
    luxuryTransition: 3, duration2, 1.5
  .textCase > *
    luxuryTransition: 3, duration4, 1.5
  .statusCase > *
    luxuryTransition: 3, duration6, 1.5
  
  .formCase
    luxuryTransition: 3, duration5, 1.5
  .formCase .GMIcon,
  .formCase .inputs > *
    luxuryTransition: 3, duration10, 1.5
  
  .detailsCase .social li:nth-child(1)
    luxuryTransition: 3, duration6, 1.5
  .detailsCase .social li:nth-child(2)
    luxuryTransition: 3, duration7, 1.5
  .detailsCase .social li:nth-child(3)
    luxuryTransition: 3, duration8, 1.5
  .detailsCase address.mail
    luxuryTransition: 3, duration9, 1.5

//  TRANSITIONS DELAY
.soon.delay
  .messageCase > * > div
    luxuryTransition: 3, duration2
  .textCase > *
    luxuryTransition: 3, duration4
  .statusCase > *
    luxuryTransition: 3, duration6
  
  .formCase
    luxuryTransition: 3, duration5
  .formCase .GMIcon,
  .formCase .inputs > *
    luxuryTransition: 3, duration10

//  TRANSITIONS DELAY
.soon.delay:not(.main):not(.confirmation)
  .messageCase > * > div,
  .textCase > *,
  .statusCase > *,
  .formCase,
  .formCase .GMIcon,
  .formCase .inputs > *
    luxuryTransition: 3