.button, button
  cursor: pointer
  overflow: hidden
  display: inline-block
  position: relative
  width: auto
  padding: button-padding
  border: button-border
  border-radius: button-radius
  
  font-family: button-family
  font-size: button-font
  font-weight: button-weight
  line-height: button-height
  
  white-space: nowrap
  vertical-align: middle
  text-align: center
  letter-spacing: normal
  text-decoration: none
  
  transition: transition
  background-color: button-bg
  color: button-color
  
  &:hover,
  &:focus
    background-color: button-hover-bg
    color: button-hover-color