//  DEFAULT
.button, button
  cursor: pointer
  overflow: hidden
  display: block
  position: relative
  width: auto
  margin: 0
  margin-bottom: button-margin
  padding: button-padding
  border: none
  border-radius: button-radius
  transition: all button-duration easing
  
  font-family: button-family
  font-size: button-font
  font-weight: button-weight
  line-height: button-line-height
  
  white-space: nowrap
  vertical-align: middle
  text-align: center
  letter-spacing: normal
  text-transform: uppercase
  text-decoration: none
  
  background-color: button-bg
  color: button-color
  
  &:last-child
    margin-bottom: 0
  
  &:focus
    outline: 0
  
  &:hover
    background-color: button-hover-bg
    color: button-hover-color
  
  &.big
    display: block
    width: 100%
    border-radius: baseline
    font-size: font-h5
    line-height: baseline*2


@media (min-width: 400px)
  .button, button
    display: inline-block
    margin-bottom: 0