ul, ol, li
  list-style: none
  list-style-type: none
  margin: 0
  padding: 0

ul.list:not(.inline),
ol.list:not(.inline)
  padding-{align}: list-counter
  li
    padding-{align}: (baseline/3)
ul.list:not(.inline),
ul.list:not(.inline) li
  list-style-type: ul-style
ol.list:not(.inline),
ol.list:not(.inline) li
  list-style-type: ol-style

ul.list.inline li,
ol.list.inline li
  display: inline-block
  &:after
    content: ','
  &:last-child:after
    content: '.'

ul.blocks,
ol.blocks
  display: block
  & > li
    display: block
    position: relative
    width: 100%

ul.blocks.inline,
ol.blocks.inline
  @extend .clear
  &:after
    @extend .clear
  & > li
    float: align
    width: auto