//  HEADING
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  margin: 0
  font-weight: weight-bold
  line-height: baseline+(baseline/3)
  color: text-dark

h1, .h1
  font-size: font-h1
  font-weight: weight-black
  line-height: baseline*2+(baseline/3)
  color: letters
h2, .h2
  font-size: font-h2
h3, .h3
  font-size: font-h3
h4, .h4
  font-size: font-h4
h5, .h5
  font-size: font-h5
h6, .h6
  font-size: font-h6


//  PARAGRAPH
p, .p
  margin: 0
  margin-bottom: (baseline/3)
  &:last-child
    margin-bottom: 0


//  SMALL
small, .small
  font-size: font-small


//  ANCHOR
a
  cursor: pointer
  transition: transition
  color: inherit
  &,
  &:hover
    outline: outline-width outline-style transparent
    text-decoration: none
  &:focus
    outline: outline
  &.underline
    display: inline-block
    position: relative
    &:before
      content: ''
      z-index: -1
      display: block
      position: absolute
      bottom: 0
      {align}: 0
      width: 100%
      height: anchor-underline-height
      transition: transition
      transform: translateY(translate/2)
    &:hover,
    &:focus
      color: letters
      &:before
        background-color: anchor-underline-bg
        transform: translateY(0)